<section id="about-us" class="section call-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="cta-content">
                    <h2 class="wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        Sobre Nosotros
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Disponemos de profesionales experimentados y comprometidos para garantizar la mejor atención. Cientos de clientes satisfechos son nuestra mejor carta de presentación.
                    </p>
                    <div class="button wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <a href="#" class="btn">Buscanos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>