<section id="home" class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content">
                    <h1 class="wow fadeInLeft" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">Todo lo que buscas en un solo lugar</h1>
                    <p class="wow fadeInLeft" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        Todo lo que necesitas para tu hogar lo podés encontrar en un solo lugar. Comunícate con nosotros y vení a buscar todo lo que necesitas para darle un nueva imagen a tu casa, negocio, etc.
                    </p>
                    <div class="button wow fadeInLeft" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <a href="#" class="btn">¿Como llegar?</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <div class="hero-image wow fadeInRight" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                    <img src="https://www.maquituls.es/noticias/wp-content/uploads/2016/08/124578.png" alt="herramientas" title="herramientas" />
                </div>
            </div>
        </div>
    </div>
</section>