<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Contacto</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Comunicate con nosotros</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            No dudes en escribirnos si tienes alguna duda sobre los productos o el stock.
                        </p>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h3>Dirección</h3>
                            <ul>
                                <li>Buenos Aires, Argentina</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h3>Llamanos</h3>
                            <ul>
                                <li><a href="tel:+541160109950">+54 11 6010 9950</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h3>Mail</h3>
                            <ul>
                                <li><a href="mailto:lynx.software.design@gmail.com">lynx.software.design@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>