<section id="features" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Productos</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Nuestros Productos
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        Las categorías principales de la alta gama de productos que puedes encontrar en nuestra tienda.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
            
                <div class="single-feature wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3>Herramientas</h3>
                    <p>
                        Todas las herramientas para llevar a cabo tus refacciones.
                    </p>
                </div>
            
            </div>
            <div class="col-lg-4 col-md-6 col-12">
            
                <div class="single-feature wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <h3>Pinturas</h3>
                    <p>
                        Elegi los colores que le darán una nueva vida a tu hogar
                    </p>
                </div>
            
            </div>
            <div class="col-lg-4 col-md-6 col-12">
            
                <div class="single-feature wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <h3>Repuestos</h3>
                    <p>
                        Todos los repuestos que necesitas en un solo lugar
                    </p>
                </div>
            
            </div>
            <div class="col-lg-4 col-md-6 col-12">
            
                <div class="single-feature wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3>Giferías</h3>
                    <p>
                        Las mejores griferías al mejor precio del mercado.
                    </p>
                </div>
            
            </div>
            <div class="col-lg-4 col-md-6 col-12">
            
                <div class="single-feature wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <h3>Cañerías</h3>
                    <p>
                        Todos los materiales necesarios para las cañerías de su hogar.
                    </p>
                </div>
            
            </div>
            <div class="col-lg-4 col-md-6 col-12">
            
                <div class="single-feature wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <h3>Corralón</h3>
                    <p>
                        Varios materiales de construcción a mejor precio.
                    </p>
                </div>
            
            </div>
        </div>
    </div>
</section>