<footer class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                
                    <div class="single-footer f-about">
                        <div class="logo">
                            <a href="#">
                                <img src="https://i.postimg.cc/fTV8mS8W/image.png" alt="#">
                            </a>
                        </div>
                    </div>
                
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                
                    <div class="single-footer f-about ms-auto text-end">
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                
                </div>
                <div class="col-12 text-center">
                
                    <div class="single-footer f-about">
                        <p class="copyright-text">
                            Creado por <a href="https://lynx.net.ar/" rel="nofollow" target="_blank">Lynx Software Design</a>
                        </p>
                    </div>
                
                </div>
            </div>
        </div>
    </div>  
    
</footer>

<a href="#" class="scroll-top" style="display: flex;">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>