<header class="header navbar-area sticky">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="nav-inner">
                
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img src="https://i.postimg.cc/fTV8mS8W/image.png" alt="Logo" />
                        </a>
                        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                <a href="#home" class="page-scroll active" aria-label="Toggle navigation">Inicio</a>
                                </li>
                                <li class="nav-item">
                                <a href="#features" class="page-scroll" aria-label="Toggle navigation">Productos</a>
                                </li>
                                <li class="nav-item">
                                <a href="#about-us" class="page-scroll" aria-label="Toggle navigation">Sobre Nosotros</a>
                                </li>
                                <!--<li class="nav-item">
                                <a class="page-scroll dd-menu collapsed" href="#blog" data-bs-toggle="collapse" data-bs-target="#submenu-1-4" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Blog</a>
                                <ul class="sub-menu collapse" id="submenu-1-4">
                                <li class="nav-item"><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a>
                                </li>
                                <li class="nav-item"><a href="blog-single.html">Blog Single</a></li>
                                <li class="nav-item"><a href="blog-single-sidebar.html">Blog Single
                                Sibebar</a></li>
                                </ul>
                                </li>-->
                                <li class="nav-item">
                                <a href="#contact-us" aria-label="Toggle navigation">Contacto</a>
                                </li>
                            </ul>
                        </div> 
                        <div class="button add-list-button">
                            <a href="#" class="btn"><i class="fa fa-map-marker" aria-hidden="true"></i> Buscar en Maps</a>
                        </div>
                    </nav>
                
                </div>
            </div>
        </div> 
    </div> 
</header>
<div class="preloader" style="opacity: 0; display: none;">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>