<div class="client-logo-section">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="tns-outer" id="tns1-ow">
                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">17 to 20</span>  of 5
                </div>
                <div id="tns1-mw" class="tns-ovh">
                    <div class="tns-inner" id="tns1-iw">
                        <div 
                            class="client-logo-carousel d-flex align-items-center justify-content-between  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                            id="tns1">
                            
                            <div *ngFor="let marc of marcaslist" class="client-logo tns-item tns-slide-cloned tns-slide-active">
                                <img src="{{ marc.img }}" alt="{{ marc.name }}" title="{{ marc.name }}"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>